<footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center mt-3 mb-2 bg-light">
      Hotline for supporting: (+84) 012345678
    </div>
    <div class="text-center mb-2 bg-light">
      © 2024 Copyright: Software Engineering - CC01 - Group 09
    </div>
    <!-- Copyright -->
</footer>