<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPSO | Home</title>
    <link rel="icon" href=
"https://lms.hcmut.edu.vn/pluginfile.php/3/theme_academi/logo/1725955904/logoBK.png"
        type="image/x-icon" />
  <%- include('../partials/style'); %>
</head>
<body>
    <%- include('../partials/navbar-spso'); %>

    <!-- Main Content Area -->
  <div class="container mt-3 mb-3 text-center">
    <h1>Welcome back, SPSO!</h1>
  </div>
  <div>
    <div class="text-center">
        <img src="https://lms.hcmut.edu.vn/pluginfile.php/3/theme_academi/slide2image/1725955904/slbktv.jpg" class="rounded img-fluid" alt="Image">
      </div>
  </div>

    <%- include('../partials/footer'); %>
</body>
</html>
