<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HCMUT-SPSS</title>
  <link rel="icon" href=
"https://lms.hcmut.edu.vn/pluginfile.php/3/theme_academi/logo/1725955904/logoBK.png"
        type="image/x-icon" />
  <%- include('./partials/style'); %>
</head>
<body>
    <%- include('./partials/navbar-guest'); %>
  <!-- Main Content Area -->
  <div class="container mt-3 mb-3 text-center">
    <h1>Welcome to HCMUT - Student Smart Printing Service!</h1>
  </div>
  <div>
    <div class="text-center">
        <img src="https://lms.hcmut.edu.vn/pluginfile.php/3/theme_academi/slide2image/1725955904/slbktv.jpg" class="rounded img-fluid" alt="Image">
      </div>
  </div>

  <!-- Footer -->
  <%- include('./partials/footer'); %>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
