<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Choose Role</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
</head>
<body>
    <header class="header">
        <section class="flex">
            <a href="" class="logo">HCMUT-SSPS</a>
            <div class="icons">
                <div id="menu-btn" class="fas fa-bars"></div>
                <div id="search-btn" class="fas fa-search"></div>
                <div id="user-btn" class="fas fa-user"></div>
                <!-- <div id="toggle-btn" class="fas fa-sun"></div> -->
            </div>
            <div class="profile">
                <!-- <img src="" alt="profile">
                <h3>annoymous stu</h3>
                <span>student</span>
                <a href="" class="btn">view profile</a> -->
                <div class="flex-btn">
                    <a href="/login/auth" class="option-btn">login</a>
                    <a href="" class="option-btn">register</a>
                </div>
            </div>
        </section>
    </header>
    <div class="side-bar">
        <div id="close-btn">
            <i class="fas fa-times"></i>
         </div>
        <div class="profile">
            <img src="https://lms.hcmut.edu.vn/pluginfile.php/3/theme_academi/logo/1725955904/logoBK.png" alt="profile">
            <!-- <h3>annoymous stu</h3>
            <span>student</span>
            <a href="" class="btn">view profile</a>
            <div class="flex-btn">
                <a href="" class="option-btn">login</a>
                <a href="" class="option-btn">register</a>
            </div> -->
        </div>
        <nav class="navbar">
            <a href=""><i class="fas fa-home"></i><span>homepage</span></a>
            <a href=""><i class="fas fa-home"></i><span>service</span></a>
            <a href=""><i class="fas fa-home"></i><span>payment</span></a>
            <a href=""><i class="fas fa-home"></i><span>policy</span></a>
        </nav>
    </div>
    <section class="form-container">
       <form action="" method="get">
        <h3>login with role</h3>
        <a href="" class="box">Student using printer</a>
        <a href="" class="box">Administrator (SPSO)</a>
        <a href="" class="box">Printer company</a>
       </form>
    </section>
    <script src="script.js"></script>
</body>
</html>