<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Choose Role</title>
</head>
<body>
    <h1>This file is to show role for user to choose</h1>
</body>
</html>