<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | Gift Page</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
</head>
<body>
    <header class="header">
        <section class="flex">
            <a href="" class="logo">HCMUT-SSPS</a>
            <div class="icons">
                <div id="menu-btn" class="fas fa-bars"></div>
                <div class="fas fa-bell"></div>
                <div id="search-btn" class="fas fa-search"></div>
                <div id="user-btn" class="fas fa-user"></div>
                <!-- <div id="toggle-btn" class="fas fa-sun"></div> -->
            </div>
            <div class="profile">
                <img src="" alt="profile">
                <h3>annoymous stu</h3>
                <span>student</span>
                <a href="/student/viewlog" class="btn">view print history</a>
                <div class="flex-btn">
                    <a href="" class="option-btn">logout</a>
                    <a href="" class="option-btn">register</a>
                </div>
            </div>
        </section>
    </header>
    <div class="side-bar">
        <div id="close-btn">
            <i class="fas fa-times"></i>
         </div>
        <div class="profile">
            <img src="https://lms.hcmut.edu.vn/pluginfile.php/3/theme_academi/logo/1725955904/logoBK.png" alt="profile">
            <!-- <h3>annoymous stu</h3>
            <span>student</span>
            <a href="" class="btn">view profile</a>
            <div class="flex-btn">
                <a href="" class="option-btn">login</a>
                <a href="" class="option-btn">register</a>
            </div> -->
        </div>
        <nav class="navbar">
            <a href="/student/upload"><i class="fas fa-home"></i><span>upload</span></a>
            <a href="/student/config"><i class="fas fa-home"></i><span>configure</span></a>
            <a href="/student/buy-page"><i class="fas fa-home"></i><span>buying</span></a>
            <a href="/student/gift-page"><i class="fas fa-home"></i><span>gifting</span></a>
        </nav>
    </div>
    <section class="form-container">
        <form action="" method="post">
            <h1 class="heading">Giving Page</h3>
            <p style="text-align: center;">Your current page : <span>111</span></p>
            <p>Enter the username to give</p>
            <input type="text" name="" id="" placeholder="Example: abcdef" class="box">
            <p>Enter the number of page</p>
            <input type="number" name="" id="" min="1" placeholder="Type the number greater than 0" class="box">
            <input type="submit" value="Confirm" class="btn">
        </form>
    </section>
    <script src="script.js"></script>
</body>
</html>