<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | Upload File</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
</head>
<body>
    <header class="header">
        <section class="flex">
            <a href="" class="logo">HCMUT-SSPS</a>
            <div class="icons">
                <div id="menu-btn" class="fas fa-bars"></div>
                <div class="fas fa-bell"></div>
                <div id="search-btn" class="fas fa-search"></div>
                <div id="user-btn" class="fas fa-user"></div>
            </div>
            <div class="profile">
                <img src="" alt="profile">
                <h3>annoymous stu</h3>
                <span>student</span>
                <a href="/student/view-log" class="btn">view print history</a>
                <div class="flex-btn">
                    <a href="" class="option-btn">logout</a>
                    <a href="" class="option-btn">register</a>
                </div>
            </div>
        </section>
    </header>

    <!-- Sidebar -->
    <div class="side-bar" id="sidebar">
        <div id="close-btn">
            <i class="fas fa-times"></i>
        </div>
        <div class="profile">
            <img src="https://lms.hcmut.edu.vn/pluginfile.php/3/theme_academi/logo/1725955904/logoBK.png" alt="profile">
        </div>
        <nav class="navbar">
            <a href="/student/upload"><i class="fas fa-upload"></i><span>upload</span></a>
            <a href="/student/config"><i class="fas fa-cogs"></i><span>configure</span></a>
            <a href="/student/buy-page"><i class="fas fa-shopping-cart"></i><span>buying</span></a>
            <a href="/student/gift-page"><i class="fas fa-gift"></i><span>gifting</span></a>
        </nav>
    </div>

    <!-- Overlay -->
    <div class="overlay" id="overlay"></div>

    <section class="form-container">
        <form action="/student/upload" method="POST" enctype="multipart/form-data">
            <h1 class="heading">Upload File</h1>
            <p>Select file to upload</p>
            <input type="file" name="studentFile" id="studentFile" required class="box">
            <input type="submit" value="Upload" class="btn">
        </form>
    </section>

    <script src="script.js"></script>
</body>
</html>
